<!DOCTYPE html>
<html>
<head>
	<title>ludo</title>
	<script type="text/javascript" src="../asset/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../asset/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../asset/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/ludo.css">
	<link rel="stylesheet" href="../asset/fontawesome-free-5.7.2-web/css/all.css">
	<style type="text/css">
		
	</style>
</head>
<body>
	<div class="container">
		<div class="wraper">
			select players
			<a href="index.html?pl=2">2 player</a>
			<a href="index.html?pl=3">3 player</a>
			<a href="index.html?pl=4">4 player</a>
		</div>
	</div>
</body>
<script type="text/javascript" src="../asset/js/ludo.js">
</script>
</html>